=link_to "Retour", root_path
%h2 Modifier demandeur
=simple_form_for(@demande, html: {class: 'form-horizontal'}) do |f|
	= f.collection_select :demandeur_id, Demandeur.all, :id, :nom, {promt: "choisir le demandeur" }, input_html: { class: "dropdown-toggle"}
	=f.input :description, label: "description : "
	=f.button :submit, "Valider "

